@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../picture/nen1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper{
    width:420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(50px);
    color:white;
    border-radius: 10px;
    padding: 30px 40px; /*top-bot: 30 left-right:40*/
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative; /*lm phan tu tham chieu cho cac icon*/
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px; /*bo tron vien*/
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    position: absolute;
    color:white;
    left: 20px;
}
.input-box i {
    position: absolute; /*de i o vi tri tuyet doi cach phan tu cha ben phai 20px*/
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.register {
    margin: 20px;
    text-align: center;
}
.register a{
    color: white;
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}
